:root {
  --main-font-family: "TX-02";

  color-scheme: light dark;
  --background-colour: light-dark(white, black);
  --main-font-colour: light-dark(black, white);

  --idle-colour: #78716c;
  --healthy-colour: #10b981;
  --unhealthy_colour: #dc2626;

  font-family: var(--main-font-family);

  background-color: var(--background-colour);
  color: var(--main-font-colour);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
